In [1]:
!pip install fsspec s3fs japanize_matplotlib boto3 > /dev/null

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.8 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [2]:
!apt-get -q -y install sudo file mecab libmecab-dev mecab-ipadic-utf8 git curl python-mecab > /dev/null
!git clone --depth 1 https://github.com/neologd/mecab-ipadic-neologd.git > /dev/null 
!echo yes | mecab-ipadic-neologd/bin/install-mecab-ipadic-neologd -n > /dev/null 2>&1
!pip install mecab-python3 neologdn > /dev/null

!ln -s /etc/mecabrc /usr/local/etc/mecabrc

Cloning into 'mecab-ipadic-neologd'...
remote: Enumerating objects: 75, done.
remote: Counting objects: 100% (75/75), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 75 (delta 5), reused 54 (delta 0), pack-reused 0
Unpacking objects: 100% (75/75), done.

In [3]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
from datetime import datetime
import numpy as np
from fastprogress import progress_bar as pb
import seaborn as sns
import MeCab
import neologdn
import unicodedata
sns.set(font="IPAexGothic")

In [4]:
import warnings
warnings.simplefilter('ignore')

In [5]:
import boto3
from boto3.dynamodb.conditions import Key
from typing import List, Dict

In [6]:
m_wakati = MeCab.Tagger('-Owakati -d /usr/lib/x86_64-linux-gnu/mecab/dic/mecab-ipadic-neologd')
m_chasen = MeCab.Tagger('-Ochasen -d /usr/lib/x86_64-linux-gnu/mecab/dic/mecab-ipadic-neologd')

In [84]:
df_btc_return = pd.read_csv('/content/drive/MyDrive/data/crypto/historical/gmo/return_btc_5min.csv')
df_btc_return['timestamp'] = pd.to_datetime(df_btc_return['timestamp'])
df_btc_return.set_index('timestamp', inplace=True)

In [85]:
df_btc_return

                     size_buy   price_buy  ...  return_1440h  return_2160h
timestamp                                  ...
2019-12-31 21:15:00  0.003475   777540.00  ...      1.201652      0.905107
2019-12-31 21:20:00  0.001000   777580.00  ...      1.199488      0.904578
2019-12-31 21:25:00  0.001367   777862.00  ...      1.198884      0.905345
2019-12-31 21:30:00  0.001000   777862.00  ...      1.199147      0.903535
2019-12-31 21:35:00  0.001000   777830.00  ...      1.199459      0.903243
...                       ...         ...  ...           ...           ...
2022-01-01 20:30:00  0.000158  5463890.25  ...           NaN           NaN
2022-01-01 20:35:00  0.000100  5469121.00  ...           NaN           NaN
2022-01-01 20:40:00  0.003750  5465023.00  ...           NaN           NaN
2022-01-01 20:45:00  0.007400  5460925.00  ...           NaN           NaN
2022-01-01 20:50:00  0.003750  5460462.50  ...           NaN           NaN

[210812 rows x 17 columns]

In [104]:
df_btc_return

                     size_buy   price_buy  ...  return_1440h  return_2160h
timestamp                                  ...
2019-12-31 21:15:00  0.003475   777540.00  ...      0.201652     -0.094893
2019-12-31 21:20:00  0.001000   777580.00  ...      0.199488     -0.095422
2019-12-31 21:25:00  0.001367   777862.00  ...      0.198884     -0.094655
2019-12-31 21:30:00  0.001000   777862.00  ...      0.199147     -0.096465
2019-12-31 21:35:00  0.001000   777830.00  ...      0.199459     -0.096757
...                       ...         ...  ...           ...           ...
2022-01-01 20:30:00  0.000158  5463890.25  ...           NaN           NaN
2022-01-01 20:35:00  0.000100  5469121.00  ...           NaN           NaN
2022-01-01 20:40:00  0.003750  5465023.00  ...           NaN           NaN
2022-01-01 20:45:00  0.007400  5460925.00  ...           NaN           NaN
2022-01-01 20:50:00  0.003750  5460462.50  ...           NaN           NaN

[210812 rows x 17 columns]

In [105]:
df_news = pd.read_csv('/content/drive/MyDrive/data/google_news_20200301_20200822.csv', parse_dates=['published_date'])

In [106]:
df_news['published_date'] = pd.to_datetime(df_news['published_date'])
df_news['published_jst'] = pd.to_datetime(df_news['published'].map(lambda x: x.replace('+09:00', '')))

In [107]:
df_news

                       published  ...       published_jst
0      2020-03-02 08:52:05+09:00  ... 2020-03-02 08:52:05
1      2020-03-02 08:52:00+09:00  ... 2020-03-02 08:52:00
2      2020-03-02 08:52:00+09:00  ... 2020-03-02 08:52:00
3      2020-03-02 06:51:00+09:00  ... 2020-03-02 06:51:00
4      2020-03-01 11:00:00+09:00  ... 2020-03-01 11:00:00
...                          ...  ...                 ...
42119  2020-08-22 10:33:22+09:00  ... 2020-08-22 10:33:22
42120  2020-08-22 10:33:22+09:00  ... 2020-08-22 10:33:22
42121  2020-08-22 12:10:00+09:00  ... 2020-08-22 12:10:00
42122  2020-08-22 12:10:00+09:00  ... 2020-08-22 12:10:00
42123  2020-08-22 17:00:00+09:00  ... 2020-08-22 17:00:00

[42124 rows x 7 columns]

In [108]:
df_news['published_jst_5min'] = df_news['published_jst'].dt.floor('5T')

In [109]:
def preprocess_sentence(sentence):
    sentence = neologdn.normalize(sentence)
    sentence = sentence.lower()
    sentence = unicodedata.normalize('NFKC', sentence)
    return sentence

In [65]:
word_list = []
skipped_date_set = set()
target_datetimes = []
datetime_list = []
exclude_hinshi_list = ['記号', 'サ変接続', '助詞']

for pub_datetime in pb(df_news['published_jst_5min'].unique()):
    word_set = set()
    df_news_day = df_news[df_news['published_jst_5min'] == pub_datetime]
    try:
        for summary in df_news_day['summary']:
            sentence = preprocess_sentence(summary)
            df_word = pd.DataFrame(
                [item.split('\t') for item in m_chasen.parse(sentence).split('\n') if item not in ('EOS', '')],
                columns=['表層形', '発音', '原型', '形態素の品詞型', '活用形', '活用型']
            )
            df_word = df_word[~df_word['形態素の品詞型'].map(lambda x: any( [hinshi in x for hinshi in exclude_hinshi_list] ))]
            df_word = df_word[df_word['表層形'].str.contains(r"[一-龯ぁ-んァ-ンA-Za-z々ゝゞヽヾヴヵヶ]")]
            df_word = df_word[~df_word['表層形'].str.contains(r"[0-9]")]
            word_set.update(df_word['表層形'].tolist())
        # for lag in rtn_lags:
        #     lag_rtns[f'rtn_lag{lag}'] += [df_stock_for_news.loc[pd.to_datetime(pub_datetime), f'rtn_lag{lag}']] * len(word_set)
        datetime_list += [pub_datetime] * len(word_set)
        word_list += list(word_set)
        target_datetimes.append(pub_datetime)
    except Exception as e:
        print(e)
        skipped_date_set.add(pub_datetime)
        continue

In [66]:
df_word = pd.DataFrame()
df_word['word'] = word_list
df_word['datetime'] = datetime_list

In [96]:
df_word

           word            datetime
0           西海岸 2020-03-02 08:50:00
1            探し 2020-03-02 08:50:00
2       パカパカスマホ 2020-03-02 08:50:00
3            台風 2020-03-02 08:50:00
4         掘り出し物 2020-03-02 08:50:00
...         ...                 ...
999960    コロナ感染 2020-08-22 22:40:00
999961       諦め 2020-08-22 22:40:00
999962       見る 2020-08-22 22:40:00
999963      .jp 2020-08-22 22:40:00
999964      すべて 2020-08-22 22:40:00

[999965 rows x 2 columns]

In [110]:
def create_word_return_df(
    df_word,
    df_btc_return,
):
    df_word_return = pd.merge(
        df_word, df_btc_return,
        how='left',
        left_on='datetime', right_index=True
    )
    return df_word_return.dropna()

In [111]:
df_word_return = create_word_return_df(df_word, df_btc_return)

In [112]:
df_word_return

           word            datetime  ...  return_1440h  return_2160h
0           西海岸 2020-03-02 08:50:00  ...      0.005865      0.098565
1            探し 2020-03-02 08:50:00  ...      0.005865      0.098565
2       パカパカスマホ 2020-03-02 08:50:00  ...      0.005865      0.098565
3            台風 2020-03-02 08:50:00  ...      0.005865      0.098565
4         掘り出し物 2020-03-02 08:50:00  ...      0.005865      0.098565
...         ...                 ...  ...           ...           ...
999960    コロナ感染 2020-08-22 22:40:00  ...      0.106727      0.563611
999961       諦め 2020-08-22 22:40:00  ...      0.106727      0.563611
999962       見る 2020-08-22 22:40:00  ...      0.106727      0.563611
999963      .jp 2020-08-22 22:40:00  ...      0.106727      0.563611
999964      すべて 2020-08-22 22:40:00  ...      0.106727      0.563611

[999965 rows x 19 columns]

In [113]:
df_word_return[df_word_return['return_1h'].isnull()].datetime.unique()

array([], dtype='datetime64[ns]')

In [133]:
def create_word_score_df(df_word_return):
    return df_word_return.groupby('word').agg(['sum', 'mean', 'count']).sort_values(by=('return_12h', 'mean'))

In [134]:
df_word_score = create_word_score_df(df_word_return)

In [135]:
MIN_WORD_OCCURANCE_COUNT = 10

In [136]:
pd.set_option('display.max_rows', 100)
filter_condition = df_word_score[('return_12h', 'count')] >= MIN_WORD_OCCURANCE_COUNT
df_word_score[filter_condition][[cols for cols in df_word_score.columns if 'return' in cols[0]]].sort_values(by=('return_12h', 'mean'))

             return_1h                  ... return_2160h
                   sum      mean count  ...          sum      mean count
word                                    ...
annnewschwho -0.127656 -0.006079    21  ...     6.742346  0.321064    21
弱気           -0.217961 -0.018163    12  ...     3.863438  0.321953    12
深澤辰哉         -0.041318 -0.004132    10  ...     5.192353  0.519235    10
藤岡康           0.035382  0.003538    10  ...     2.479661  0.247966    10
負かす          -0.011600 -0.001160    10  ...     2.160689  0.216069    10
...                ...       ...   ...  ...          ...       ...   ...
割り込む          0.087408  0.007284    12  ...     5.398652  0.449888    12
ディオール         0.040923  0.004092    10  ...     5.178538  0.517854    10
量的緩和         -0.032016 -0.002668    12  ...     8.226566  0.685547    12
システム設計        0.065364  0.005028    13  ...     9.342349  0.718642    13
取引停止         -0.072830 -0.006621    11  ...     7.889025  0.717184    11

[11499 rows x 39 columns]

In [137]:
# 12時間後リターンが下降傾向単語トップ100
df_word_score[filter_condition][[cols for cols in df_word_score.columns if 'return' in cols[0]]].sort_values(by=('return_12h', 'mean')).index[:100]

Index(['annnewschwho', '弱気', '深澤辰哉', '藤岡康', '負かす', '緩める', '国際社会', 'ジャズ', '樹',
       '調整中', '立川志らく', 'お天気キャスター', 'オリジナルアニメ', '緊急会見', '柄本', '気象予報士', 'ドゥカティ',
       '競走馬', 'ピクセル', 'パスコード', 'クロップ監督', 'フェア', '遠い', 'アドマイヤビルゴ', 'バド', '味わえる',
       '金髪', '公式ページ', '一足', 'コマンド', '田中樹', 'ビザ', '酒場', 'ボンド', '大幅反発', '竈門',
       'ビートたけし', 'discord', '独身', 'power', '棒', '京都新聞杯', '人馬', 'jfe', '右足',
       '長野県', 'コミケ', 'ヨガ', '支持者', 'ハーランド', 'ゲノセクト', 'ソロ曲', '宣戦布告', 'パブリッシング',
       '炉', '結婚式', 'ぐるナイ', 'つかん', '争点', '正社員', 'ホース', 'preview', '疫病', '無罪',
       '本能寺の変', 'フォーク', 'west', 'ポケ', '申し訳', '吉高由里子', 'スカート', '飛び込ん', '対戦相手',
       '世界最大', 'よーく', '金鯱賞', 'ベル', '財産', '情報誌', 'ほしのすな', '愚か', '子役', '小宮璃央',
       'remedy', '祭典', 'ktm', '世界情勢', 'ギラティナ', 'ノーカット', '順当', 'センバツ', '保',
       '再発防止', '猫ちゃん', 'やめよ', 'ハイペース', '聖火', '中韓', '打て', '初対面'],
      dtype='object', name='word')

In [141]:
# 12時間後リターンが上昇傾向単語トップ100
df_word_score[filter_condition][[cols for cols in df_word_score.columns if 'return' in cols[0]]].sort_values(by=('return_12h', 'mean')).index[-100:][::-1]

Index(['取引停止', 'システム設計', '量的緩和', 'ディオール', '割り込む', 'ハードウェア', '裏技', 'itmediaau',
       '見つける', '超高速', '乗車率', '解説動画', '甦る', 'ジョーカナチャン', 'ウォッチドッグス',
       'フラッグシップスマホ', 'pcエンジン', 'xperia', 'ジェル', '偲ぶ', '名古屋駅', '小ネタ', 'カスタム',
       'ジェット', 'チャンピオンズリーグ', 'ランドロス', '通常版', 'お酒', '初め', '電話会議', 'ライザ', '持ち込ん',
       '中銀', 'ロード', '根強く', 'いち', '家政夫のミタゾノ', '見放題', 'b/s', 'iphoneアプリ',
       'ダウ平均株価', 'ファクトリー', 'アゼルバイジャン', 'モナコgp', 'find', 'へん', 'くださっ', '会員登録',
       '選び方', '試', '重し', 'ニューシングル', 'windows update', 'エイプリルフール', 'シカゴ', '後任',
       '考え方', '強制力', '爆速', 'aquos', 'blade', '次週', 'warframe', 'battle', '慎',
       '伝説ポケモン', 'パドック', 'ワイド', '立ち位置', '威力', 'クッキー', '時間制限', '売る', 'ひるおび',
       '理事会', '教室', '勢力', '下落率', '吉本興業', '意見交換', 'ジェム', 'トラックパッド', 'クアッドカメラ',
       'lightning', 'fitbit', '小澤征悦', '無制限', '投資家', '消息', '切り開く', 'uuum',
       '仲良く', '本家', 'icu', '吉本', '香り', 'アトリエ', 'たぬきち', '画', 'ソーシャル'],
      dtype='object', name='word')

In [144]:
df_news[df_news.summary.str.contains('取引停止')]

                       published  ...  published_jst_5min
1389   2020-03-10 05:39:54+09:00  ... 2020-03-10 05:35:00
1401   2020-03-10 02:00:00+09:00  ... 2020-03-10 02:00:00
1402   2020-03-10 00:32:51+09:00  ... 2020-03-10 00:30:00
2101   2020-03-12 22:52:00+09:00  ... 2020-03-12 22:50:00
2105   2020-03-13 06:26:24+09:00  ... 2020-03-13 06:25:00
2106   2020-03-13 00:41:09+09:00  ... 2020-03-13 00:40:00
2466   2020-03-13 10:52:12+09:00  ... 2020-03-13 10:50:00
3083   2020-03-17 00:29:35+09:00  ... 2020-03-17 00:25:00
3091   2020-03-16 23:20:00+09:00  ... 2020-03-16 23:20:00
3092   2020-03-16 23:06:24+09:00  ... 2020-03-16 23:05:00
3093   2020-03-17 06:50:00+09:00  ... 2020-03-17 06:50:00
37565  2020-08-04 21:59:00+09:00  ... 2020-08-04 21:55:00

[12 rows x 8 columns]

In [145]:
df_news[df_news.summary.str.contains('量的緩和')]

                       published  ...  published_jst_5min
2058   2020-03-13 00:41:18+09:00  ... 2020-03-13 00:40:00
2071   2020-03-13 04:23:12+09:00  ... 2020-03-13 04:20:00
2801   2020-03-16 06:12:50+09:00  ... 2020-03-16 06:10:00
3084   2020-03-16 22:31:18+09:00  ... 2020-03-16 22:30:00
3091   2020-03-16 23:20:00+09:00  ... 2020-03-16 23:20:00
3300   2020-03-17 09:18:00+09:00  ... 2020-03-17 09:15:00
3485   2020-03-17 19:13:03+09:00  ... 2020-03-17 19:10:00
4762   2020-03-23 18:00:00+09:00  ... 2020-03-23 18:00:00
4763   2020-03-23 21:14:21+09:00  ... 2020-03-23 21:10:00
4817   2020-03-23 21:35:49+09:00  ... 2020-03-23 21:35:00
4821   2020-03-24 05:15:34+09:00  ... 2020-03-24 05:15:00
5165   2020-03-24 20:26:09+09:00  ... 2020-03-24 20:25:00
25749  2020-06-19 00:21:00+09:00  ... 2020-06-19 00:20:00

[13 rows x 8 columns]

In [163]:
def evaluate_sentence_score(
    sentence,
    df_word_score,
    exclude_hinshi_list = ['記号', 'サ変接続', '助詞'],
    debug = False,
):
    return_cols = [cols[0] for cols in df_word_score.columns if 'return' in cols[0]]
    scores = {col: 0 for col in return_cols}
    # words = m_wakati.parse(sentence).split()
    sentence = preprocess_sentence(sentence)
    df_word = pd.DataFrame(
        [item.split('\t') for item in m_chasen.parse(sentence).split('\n') if item not in ('EOS', '')],
        columns=['表層形', '発音', '原型', '形態素の品詞型', '活用形', '活用型']
    )
    df_word = df_word[~df_word['形態素の品詞型'].map(lambda x: any( [hinshi in x for hinshi in exclude_hinshi_list] ))]
    df_word = df_word[df_word['表層形'].str.contains(r"[一-龯ぁ-んァ-ンA-Za-z々ゝゞヽヾヴヵヶ]")]
    for return_col in return_cols:
        word_cnt = 0
        for word in df_word['表層形']:
            try:
                sum = df_word_score.loc[word, (return_col, 'sum')]
                count = df_word_score.loc[word, (return_col, 'count')]
                mean = df_word_score.loc[word, (return_col, 'mean')]
                word_cnt += 1
            except:
                continue
            scores[return_col] += mean
            if debug:
                print(f'{return_col} : {word} , mean:{mean} , count:{count}, sum:{sum}')
        try:
            scores[return_col] /= word_cnt
        except Exception as e:
            print(e)
            scores[return_col] = 0.0
    df_scores = pd.DataFrame({
        'lag_hour': [int(name.split('_')[1].strip('h')) for name in scores.keys()],
        'score': list(scores.values())
    })
    return df_scores

In [153]:
df_sentence_return_scores = evaluate_sentence_score(
    'FRBが1%緊急利下げ ゼロ金利に、量的緩和も再開 日本経済新聞米ＦＲＢ、再び緊急利下げ',
    df_word_score,
    debug=True
)

return_1h : frb , mean:-0.0007057662429376316 , count:54.0, sum:-0.038111377118632106
return_1h : 緊急 , mean:0.0009509865934237101 , count:258.0, sum:0.24535454110331723
return_1h : ゼロ , mean:-0.0013103789991041647 , count:268.0, sum:-0.35118157175991616
return_1h : 金利 , mean:-0.00279411214436491 , count:27.0, sum:-0.07544102789785256
return_1h : 量的緩和 , mean:-0.002667966468717494 , count:12.0, sum:-0.032015597624609926
return_1h : 日本経済 , mean:-0.0005521932119039262 , count:1163.0, sum:-0.6422007054442662
return_1h : 新聞 , mean:-0.0006739005793525538 , count:1338.0, sum:-0.901678975173717
return_1h : 米 , mean:-0.0008593029200399855 , count:1409.0, sum:-1.2107578143363396
return_1h : frb , mean:-0.0007057662429376316 , count:54.0, sum:-0.038111377118632106
return_1h : 緊急 , mean:0.0009509865934237101 , count:258.0, sum:0.24535454110331723
return_1h : frb , mean:-0.0007057662429376316 , count:54.0, sum:-0.038111377118632106
return_1h : 緊急 , mean:0.0009509865934237101 , count:258.0, sum:0.24535454110331723
return_1h : ゼロ , mean:-0.0013103789991041647 , count:268.0, sum:-0.35118157175991616
return_1h : 金利 , mean:-0.00279411214436491 , count:27.0, sum:-0.07544102789785256
return_1h : 量的緩和 , mean:-0.002667966468717494 , count:12.0, sum:-0.032015597624609926
return_1h : 日本経済 , mean:-0.0005521932119039262 , count:1163.0, sum:-0.6422007054442662
return_1h : 新聞 , mean:-0.0006739005793525538 , count:1338.0, sum:-0.901678975173717
return_1h : 米 , mean:-0.0008593029200399855 , count:1409.0, sum:-1.2107578143363396
return_1h : frb , mean:-0.0007057662429376316 , count:54.0, sum:-0.038111377118632106
return_1h : 緊急 , mean:0.0009509865934237101 , count:258.0, sum:0.24535454110331723
return_1h : frb , mean:-0.0007057662429376316 , count:54.0, sum:-0.038111377118632106
return_1h : 緊急 , mean:0.0009509865934237101 , count:258.0, sum:0.24535454110331723
return_1h : ゼロ , mean:-0.0013103789991041647 , count:268.0, sum:-0.35118157175991616
return_1h : 金利 , mean:-0.00279411214436491 , count:27.0, sum:-0.07544102789785256
return_1h : 量的緩和 , mean:-0.002667966468717494 , count:12.0, sum:-0.032015597624609926
return_1h : 日本経済 , mean:-0.0005521932119039262 , count:1163.0, sum:-0.6422007054442662
return_1h : 新聞 , mean:-0.0006739005793525538 , count:1338.0, sum:-0.901678975173717
return_1h : 米 , mean:-0.0008593029200399855 , count:1409.0, sum:-1.2107578143363396
return_1h : frb , mean:-0.0007057662429376316 , count:54.0, sum:-0.038111377118632106
return_1h : 緊急 , mean:0.0009509865934237101 , count:258.0, sum:0.24535454110331723
return_3h : frb , mean:0.0037945122314823406 , count:54.0, sum:0.20490366050004638
return_3h : 緊急 , mean:0.002754448360545014 , count:258.0, sum:0.7106476770206136
return_3h : ゼロ , mean:0.00027720206130039347 , count:268.0, sum:0.07429015242850545
return_3h : 金利 , mean:-0.0013843231390136114 , count:27.0, sum:-0.03737672475336751
return_3h : 量的緩和 , mean:0.030559564963348173 , count:12.0, sum:0.36671477956017806
return_3h : 日本経済 , mean:0.0004259748826435452 , count:1163.0, sum:0.49540878851444303
return_3h : 新聞 , mean:0.00020901170714346918 , count:1338.0, sum:0.2796576641579618
return_3h : 米 , mean:-0.0003093290383681151 , count:1409.0, sum:-0.4358446150606742
return_3h : frb , mean:0.0037945122314823406 , count:54.0, sum:0.20490366050004638
return_3h : 緊急 , mean:0.002754448360545014 , count:258.0, sum:0.7106476770206136
return_3h : frb , mean:0.0037945122314823406 , count:54.0, sum:0.20490366050004638
return_3h : 緊急 , mean:0.002754448360545014 , count:258.0, sum:0.7106476770206136
return_3h : ゼロ , mean:0.00027720206130039347 , count:268.0, sum:0.07429015242850545
return_3h : 金利 , mean:-0.0013843231390136114 , count:27.0, sum:-0.03737672475336751
return_3h : 量的緩和 , mean:0.030559564963348173 , count:12.0, sum:0.36671477956017806
return_3h : 日本経済 , mean:0.0004259748826435452 , count:1163.0, sum:0.49540878851444303
return_3h : 新聞 , mean:0.00020901170714346918 , count:1338.0, sum:0.2796576641579618
return_3h : 米 , mean:-0.0003093290383681151 , count:1409.0, sum:-0.4358446150606742
return_3h : frb , mean:0.0037945122314823406 , count:54.0, sum:0.20490366050004638
return_3h : 緊急 , mean:0.002754448360545014 , count:258.0, sum:0.7106476770206136
return_3h : frb , mean:0.0037945122314823406 , count:54.0, sum:0.20490366050004638
return_3h : 緊急 , mean:0.002754448360545014 , count:258.0, sum:0.7106476770206136
return_3h : ゼロ , mean:0.00027720206130039347 , count:268.0, sum:0.07429015242850545
return_3h : 金利 , mean:-0.0013843231390136114 , count:27.0, sum:-0.03737672475336751
return_3h : 量的緩和 , mean:0.030559564963348173 , count:12.0, sum:0.36671477956017806
return_3h : 日本経済 , mean:0.0004259748826435452 , count:1163.0, sum:0.49540878851444303
return_3h : 新聞 , mean:0.00020901170714346918 , count:1338.0, sum:0.2796576641579618
return_3h : 米 , mean:-0.0003093290383681151 , count:1409.0, sum:-0.4358446150606742
return_3h : frb , mean:0.0037945122314823406 , count:54.0, sum:0.20490366050004638
return_3h : 緊急 , mean:0.002754448360545014 , count:258.0, sum:0.7106476770206136
return_6h : frb , mean:0.011531690784262945 , count:54.0, sum:0.622711302350199
return_6h : 緊急 , mean:0.0047069368217902705 , count:258.0, sum:1.2143897000218897
return_6h : ゼロ , mean:0.000832161186777728 , count:268.0, sum:0.2230191980564311
return_6h : 金利 , mean:-0.0007858006822136365 , count:27.0, sum:-0.021216618419768185
return_6h : 量的緩和 , mean:0.02956959742584354 , count:12.0, sum:0.3548351691101225
return_6h : 日本経済 , mean:0.0015791918105644031 , count:1163.0, sum:1.836600075686401
return_6h : 新聞 , mean:0.0011770230004279135 , count:1338.0, sum:1.5748567745725481
return_6h : 米 , mean:0.0002596938573708902 , count:1409.0, sum:0.3659086450355843
return_6h : frb , mean:0.011531690784262945 , count:54.0, sum:0.622711302350199
return_6h : 緊急 , mean:0.0047069368217902705 , count:258.0, sum:1.2143897000218897
return_6h : frb , mean:0.011531690784262945 , count:54.0, sum:0.622711302350199
return_6h : 緊急 , mean:0.0047069368217902705 , count:258.0, sum:1.2143897000218897
return_6h : ゼロ , mean:0.000832161186777728 , count:268.0, sum:0.2230191980564311
return_6h : 金利 , mean:-0.0007858006822136365 , count:27.0, sum:-0.021216618419768185
return_6h : 量的緩和 , mean:0.02956959742584354 , count:12.0, sum:0.3548351691101225
return_6h : 日本経済 , mean:0.0015791918105644031 , count:1163.0, sum:1.836600075686401
return_6h : 新聞 , mean:0.0011770230004279135 , count:1338.0, sum:1.5748567745725481
return_6h : 米 , mean:0.0002596938573708902 , count:1409.0, sum:0.3659086450355843
return_6h : frb , mean:0.011531690784262945 , count:54.0, sum:0.622711302350199
return_6h : 緊急 , mean:0.0047069368217902705 , count:258.0, sum:1.2143897000218897
return_6h : frb , mean:0.011531690784262945 , count:54.0, sum:0.622711302350199
return_6h : 緊急 , mean:0.0047069368217902705 , count:258.0, sum:1.2143897000218897
return_6h : ゼロ , mean:0.000832161186777728 , count:268.0, sum:0.2230191980564311
return_6h : 金利 , mean:-0.0007858006822136365 , count:27.0, sum:-0.021216618419768185
return_6h : 量的緩和 , mean:0.02956959742584354 , count:12.0, sum:0.3548351691101225
return_6h : 日本経済 , mean:0.0015791918105644031 , count:1163.0, sum:1.836600075686401
return_6h : 新聞 , mean:0.0011770230004279135 , count:1338.0, sum:1.5748567745725481
return_6h : 米 , mean:0.0002596938573708902 , count:1409.0, sum:0.3659086450355843
return_6h : frb , mean:0.011531690784262945 , count:54.0, sum:0.622711302350199
return_6h : 緊急 , mean:0.0047069368217902705 , count:258.0, sum:1.2143897000218897
return_12h : frb , mean:0.011506729291020668 , count:54.0, sum:0.6213633817151161
return_12h : 緊急 , mean:0.006398643479206743 , count:258.0, sum:1.6508500176353396
return_12h : ゼロ , mean:0.002274121757216009 , count:268.0, sum:0.6094646309338905
return_12h : 金利 , mean:0.0001688007720110948 , count:27.0, sum:0.004557620844299559
return_12h : 量的緩和 , mean:0.04748086245944211 , count:12.0, sum:0.5697703495133053
return_12h : 日本経済 , mean:0.0010652866119692614 , count:1163.0, sum:1.2389283297202511
return_12h : 新聞 , mean:0.001436636866720486 , count:1338.0, sum:1.9222201276720103
return_12h : 米 , mean:0.00029677242282076933 , count:1409.0, sum:0.418152343754464
return_12h : frb , mean:0.011506729291020668 , count:54.0, sum:0.6213633817151161
return_12h : 緊急 , mean:0.006398643479206743 , count:258.0, sum:1.6508500176353396
return_12h : frb , mean:0.011506729291020668 , count:54.0, sum:0.6213633817151161
return_12h : 緊急 , mean:0.006398643479206743 , count:258.0, sum:1.6508500176353396
return_12h : ゼロ , mean:0.002274121757216009 , count:268.0, sum:0.6094646309338905
return_12h : 金利 , mean:0.0001688007720110948 , count:27.0, sum:0.004557620844299559
return_12h : 量的緩和 , mean:0.04748086245944211 , count:12.0, sum:0.5697703495133053
return_12h : 日本経済 , mean:0.0010652866119692614 , count:1163.0, sum:1.2389283297202511
return_12h : 新聞 , mean:0.001436636866720486 , count:1338.0, sum:1.9222201276720103
return_12h : 米 , mean:0.00029677242282076933 , count:1409.0, sum:0.418152343754464
return_12h : frb , mean:0.011506729291020668 , count:54.0, sum:0.6213633817151161
return_12h : 緊急 , mean:0.006398643479206743 , count:258.0, sum:1.6508500176353396
return_12h : frb , mean:0.011506729291020668 , count:54.0, sum:0.6213633817151161
return_12h : 緊急 , mean:0.006398643479206743 , count:258.0, sum:1.6508500176353396
return_12h : ゼロ , mean:0.002274121757216009 , count:268.0, sum:0.6094646309338905
return_12h : 金利 , mean:0.0001688007720110948 , count:27.0, sum:0.004557620844299559
return_12h : 量的緩和 , mean:0.04748086245944211 , count:12.0, sum:0.5697703495133053
return_12h : 日本経済 , mean:0.0010652866119692614 , count:1163.0, sum:1.2389283297202511
return_12h : 新聞 , mean:0.001436636866720486 , count:1338.0, sum:1.9222201276720103
return_12h : 米 , mean:0.00029677242282076933 , count:1409.0, sum:0.418152343754464
return_12h : frb , mean:0.011506729291020668 , count:54.0, sum:0.6213633817151161
return_12h : 緊急 , mean:0.006398643479206743 , count:258.0, sum:1.6508500176353396
return_18h : frb , mean:0.019666050182298913 , count:54.0, sum:1.0619667098441412
return_18h : 緊急 , mean:0.005975497565957728 , count:258.0, sum:1.541678372017094
return_18h : ゼロ , mean:0.0019563146410806905 , count:268.0, sum:0.5242923238096251
return_18h : 金利 , mean:0.00734323250803393 , count:27.0, sum:0.1982672777169161
return_18h : 量的緩和 , mean:0.04157918718413257 , count:12.0, sum:0.49895024620959083
return_18h : 日本経済 , mean:0.0017543295022367249 , count:1163.0, sum:2.040285211101311
return_18h : 新聞 , mean:0.00231081823771892 , count:1338.0, sum:3.091874802067915
return_18h : 米 , mean:0.0004517615217418162 , count:1409.0, sum:0.6365319841342191
return_18h : frb , mean:0.019666050182298913 , count:54.0, sum:1.0619667098441412
return_18h : 緊急 , mean:0.005975497565957728 , count:258.0, sum:1.541678372017094
return_18h : frb , mean:0.019666050182298913 , count:54.0, sum:1.0619667098441412
return_18h : 緊急 , mean:0.005975497565957728 , count:258.0, sum:1.541678372017094
return_18h : ゼロ , mean:0.0019563146410806905 , count:268.0, sum:0.5242923238096251
return_18h : 金利 , mean:0.00734323250803393 , count:27.0, sum:0.1982672777169161
return_18h : 量的緩和 , mean:0.04157918718413257 , count:12.0, sum:0.49895024620959083
return_18h : 日本経済 , mean:0.0017543295022367249 , count:1163.0, sum:2.040285211101311
return_18h : 新聞 , mean:0.00231081823771892 , count:1338.0, sum:3.091874802067915
return_18h : 米 , mean:0.0004517615217418162 , count:1409.0, sum:0.6365319841342191
return_18h : frb , mean:0.019666050182298913 , count:54.0, sum:1.0619667098441412
return_18h : 緊急 , mean:0.005975497565957728 , count:258.0, sum:1.541678372017094
return_18h : frb , mean:0.019666050182298913 , count:54.0, sum:1.0619667098441412
return_18h : 緊急 , mean:0.005975497565957728 , count:258.0, sum:1.541678372017094
return_18h : ゼロ , mean:0.0019563146410806905 , count:268.0, sum:0.5242923238096251
return_18h : 金利 , mean:0.00734323250803393 , count:27.0, sum:0.1982672777169161
return_18h : 量的緩和 , mean:0.04157918718413257 , count:12.0, sum:0.49895024620959083
return_18h : 日本経済 , mean:0.0017543295022367249 , count:1163.0, sum:2.040285211101311
return_18h : 新聞 , mean:0.00231081823771892 , count:1338.0, sum:3.091874802067915
return_18h : 米 , mean:0.0004517615217418162 , count:1409.0, sum:0.6365319841342191
return_18h : frb , mean:0.019666050182298913 , count:54.0, sum:1.0619667098441412
return_18h : 緊急 , mean:0.005975497565957728 , count:258.0, sum:1.541678372017094
return_24h : frb , mean:0.019191934640071216 , count:54.0, sum:1.0363644705638457
return_24h : 緊急 , mean:0.006772080464148096 , count:258.0, sum:1.7471967597502087
return_24h : ゼロ , mean:0.0016959949827880516 , count:268.0, sum:0.45452665538719783
return_24h : 金利 , mean:0.00333979869044674 , count:27.0, sum:0.09017456464206197
return_24h : 量的緩和 , mean:0.06107323742335268 , count:12.0, sum:0.7328788490802322
return_24h : 日本経済 , mean:0.0026946493772634834 , count:1163.0, sum:3.133877225757431
return_24h : 新聞 , mean:0.002894344207498208 , count:1338.0, sum:3.8726325496326024
return_24h : 米 , mean:0.0015763424218128877 , count:1409.0, sum:2.2210664723343587
return_24h : frb , mean:0.019191934640071216 , count:54.0, sum:1.0363644705638457
return_24h : 緊急 , mean:0.006772080464148096 , count:258.0, sum:1.7471967597502087
return_24h : frb , mean:0.019191934640071216 , count:54.0, sum:1.0363644705638457
return_24h : 緊急 , mean:0.006772080464148096 , count:258.0, sum:1.7471967597502087
return_24h : ゼロ , mean:0.0016959949827880516 , count:268.0, sum:0.45452665538719783
return_24h : 金利 , mean:0.00333979869044674 , count:27.0, sum:0.09017456464206197
return_24h : 量的緩和 , mean:0.06107323742335268 , count:12.0, sum:0.7328788490802322
return_24h : 日本経済 , mean:0.0026946493772634834 , count:1163.0, sum:3.133877225757431
return_24h : 新聞 , mean:0.002894344207498208 , count:1338.0, sum:3.8726325496326024
return_24h : 米 , mean:0.0015763424218128877 , count:1409.0, sum:2.2210664723343587
return_24h : frb , mean:0.019191934640071216 , count:54.0, sum:1.0363644705638457
return_24h : 緊急 , mean:0.006772080464148096 , count:258.0, sum:1.7471967597502087
return_24h : frb , mean:0.019191934640071216 , count:54.0, sum:1.0363644705638457
return_24h : 緊急 , mean:0.006772080464148096 , count:258.0, sum:1.7471967597502087
return_24h : ゼロ , mean:0.0016959949827880516 , count:268.0, sum:0.45452665538719783
return_24h : 金利 , mean:0.00333979869044674 , count:27.0, sum:0.09017456464206197
return_24h : 量的緩和 , mean:0.06107323742335268 , count:12.0, sum:0.7328788490802322
return_24h : 日本経済 , mean:0.0026946493772634834 , count:1163.0, sum:3.133877225757431
return_24h : 新聞 , mean:0.002894344207498208 , count:1338.0, sum:3.8726325496326024
return_24h : 米 , mean:0.0015763424218128877 , count:1409.0, sum:2.2210664723343587
return_24h : frb , mean:0.019191934640071216 , count:54.0, sum:1.0363644705638457
return_24h : 緊急 , mean:0.006772080464148096 , count:258.0, sum:1.7471967597502087
return_48h : frb , mean:0.029405535526950438 , count:54.0, sum:1.5878989184553236
return_48h : 緊急 , mean:0.010097914776520237 , count:258.0, sum:2.605262012342221
return_48h : ゼロ , mean:0.0020162780361603788 , count:268.0, sum:0.5403625136909815
return_48h : 金利 , mean:0.015376501689378484 , count:27.0, sum:0.41516554561321906
return_48h : 量的緩和 , mean:0.06424238642191625 , count:12.0, sum:0.770908637062995
return_48h : 日本経済 , mean:0.005819908742603793 , count:1163.0, sum:6.768553867648211
return_48h : 新聞 , mean:0.005879769480831669 , count:1338.0, sum:7.867131565352773
return_48h : 米 , mean:0.006528948993283223 , count:1409.0, sum:9.19928913153606
return_48h : frb , mean:0.029405535526950438 , count:54.0, sum:1.5878989184553236
return_48h : 緊急 , mean:0.010097914776520237 , count:258.0, sum:2.605262012342221
return_48h : frb , mean:0.029405535526950438 , count:54.0, sum:1.5878989184553236
return_48h : 緊急 , mean:0.010097914776520237 , count:258.0, sum:2.605262012342221
return_48h : ゼロ , mean:0.0020162780361603788 , count:268.0, sum:0.5403625136909815
return_48h : 金利 , mean:0.015376501689378484 , count:27.0, sum:0.41516554561321906
return_48h : 量的緩和 , mean:0.06424238642191625 , count:12.0, sum:0.770908637062995
return_48h : 日本経済 , mean:0.005819908742603793 , count:1163.0, sum:6.768553867648211
return_48h : 新聞 , mean:0.005879769480831669 , count:1338.0, sum:7.867131565352773
return_48h : 米 , mean:0.006528948993283223 , count:1409.0, sum:9.19928913153606
return_48h : frb , mean:0.029405535526950438 , count:54.0, sum:1.5878989184553236
return_48h : 緊急 , mean:0.010097914776520237 , count:258.0, sum:2.605262012342221
return_48h : frb , mean:0.029405535526950438 , count:54.0, sum:1.5878989184553236
return_48h : 緊急 , mean:0.010097914776520237 , count:258.0, sum:2.605262012342221
return_48h : ゼロ , mean:0.0020162780361603788 , count:268.0, sum:0.5403625136909815
return_48h : 金利 , mean:0.015376501689378484 , count:27.0, sum:0.41516554561321906
return_48h : 量的緩和 , mean:0.06424238642191625 , count:12.0, sum:0.770908637062995
return_48h : 日本経済 , mean:0.005819908742603793 , count:1163.0, sum:6.768553867648211
return_48h : 新聞 , mean:0.005879769480831669 , count:1338.0, sum:7.867131565352773
return_48h : 米 , mean:0.006528948993283223 , count:1409.0, sum:9.19928913153606
return_48h : frb , mean:0.029405535526950438 , count:54.0, sum:1.5878989184553236
return_48h : 緊急 , mean:0.010097914776520237 , count:258.0, sum:2.605262012342221
return_72h : frb , mean:0.0612565356757866 , count:54.0, sum:3.3078529264924765
return_72h : 緊急 , mean:0.01540661895314287 , count:258.0, sum:3.9749076899108604
return_72h : ゼロ , mean:0.01131700804778222 , count:268.0, sum:3.032958156805635
return_72h : 金利 , mean:0.03959221343452438 , count:27.0, sum:1.0689897627321583
return_72h : 量的緩和 , mean:0.12208925091507279 , count:12.0, sum:1.4650710109808736
return_72h : 日本経済 , mean:0.01044941924996999 , count:1163.0, sum:12.152674587715099
return_72h : 新聞 , mean:0.010397690700201858 , count:1338.0, sum:13.912110156870085
return_72h : 米 , mean:0.010595522486759124 , count:1409.0, sum:14.929091183843605
return_72h : frb , mean:0.0612565356757866 , count:54.0, sum:3.3078529264924765
return_72h : 緊急 , mean:0.01540661895314287 , count:258.0, sum:3.9749076899108604
return_72h : frb , mean:0.0612565356757866 , count:54.0, sum:3.3078529264924765
return_72h : 緊急 , mean:0.01540661895314287 , count:258.0, sum:3.9749076899108604
return_72h : ゼロ , mean:0.01131700804778222 , count:268.0, sum:3.032958156805635
return_72h : 金利 , mean:0.03959221343452438 , count:27.0, sum:1.0689897627321583
return_72h : 量的緩和 , mean:0.12208925091507279 , count:12.0, sum:1.4650710109808736
return_72h : 日本経済 , mean:0.01044941924996999 , count:1163.0, sum:12.152674587715099
return_72h : 新聞 , mean:0.010397690700201858 , count:1338.0, sum:13.912110156870085
return_72h : 米 , mean:0.010595522486759124 , count:1409.0, sum:14.929091183843605
return_72h : frb , mean:0.0612565356757866 , count:54.0, sum:3.3078529264924765
return_72h : 緊急 , mean:0.01540661895314287 , count:258.0, sum:3.9749076899108604
return_72h : frb , mean:0.0612565356757866 , count:54.0, sum:3.3078529264924765
return_72h : 緊急 , mean:0.01540661895314287 , count:258.0, sum:3.9749076899108604
return_72h : ゼロ , mean:0.01131700804778222 , count:268.0, sum:3.032958156805635
return_72h : 金利 , mean:0.03959221343452438 , count:27.0, sum:1.0689897627321583
return_72h : 量的緩和 , mean:0.12208925091507279 , count:12.0, sum:1.4650710109808736
return_72h : 日本経済 , mean:0.01044941924996999 , count:1163.0, sum:12.152674587715099
return_72h : 新聞 , mean:0.010397690700201858 , count:1338.0, sum:13.912110156870085
return_72h : 米 , mean:0.010595522486759124 , count:1409.0, sum:14.929091183843605
return_72h : frb , mean:0.0612565356757866 , count:54.0, sum:3.3078529264924765
return_72h : 緊急 , mean:0.01540661895314287 , count:258.0, sum:3.9749076899108604
return_120h : frb , mean:0.07813050168053541 , count:54.0, sum:4.219047090748912
return_120h : 緊急 , mean:0.025399510216606948 , count:258.0, sum:6.5530736358845925

In [151]:
df_sentence_return_scores

    lag_hour     score
0          1 -0.000929
1          3  0.004759
2          6  0.007227
3         12  0.009827
4         18  0.011841
5         24  0.013897
6         48  0.019855
7         72  0.039712
8        120  0.046775
9        168  0.067033
10       720  0.165764
11      1440  0.371819
12      2160  0.429659

In [154]:
df_word_return_train = df_word_return[df_word_return.datetime < '2020-07-01']
df_word_return_test = df_word_return[df_word_return.datetime > '2020-07-01']

In [155]:
df_word_return_train

           word            datetime  ...  return_1440h  return_2160h
0           西海岸 2020-03-02 08:50:00  ...      0.005865      0.098565
1            探し 2020-03-02 08:50:00  ...      0.005865      0.098565
2       パカパカスマホ 2020-03-02 08:50:00  ...      0.005865      0.098565
3            台風 2020-03-02 08:50:00  ...      0.005865      0.098565
4         掘り出し物 2020-03-02 08:50:00  ...      0.005865      0.098565
...         ...                 ...  ...           ...           ...
682110       見る 2020-06-30 16:35:00  ...      0.227342      0.161602
682111       対象 2020-06-30 16:35:00  ...      0.227342      0.161602
682112     トレンド 2020-06-30 16:35:00  ...      0.227342      0.161602
682113       中華 2020-06-30 16:35:00  ...      0.227342      0.161602
682114      ver 2020-06-30 16:35:00  ...      0.227342      0.161602

[681035 rows x 19 columns]

In [156]:
df_word_return_test

          word            datetime  ...  return_1440h  return_2160h
676528     リニア 2020-07-01 06:00:00  ...      0.242012      0.143667
676529  現代ビジネス 2020-07-01 06:00:00  ...      0.242012      0.143667
676530   吹き飛ばす 2020-07-01 06:00:00  ...      0.242012      0.143667
676531      天才 2020-07-01 06:00:00  ...      0.242012      0.143667
676532     柔道家 2020-07-01 06:00:00  ...      0.242012      0.143667
...        ...                 ...  ...           ...           ...
999960   コロナ感染 2020-08-22 22:40:00  ...      0.106727      0.563611
999961      諦め 2020-08-22 22:40:00  ...      0.106727      0.563611
999962      見る 2020-08-22 22:40:00  ...      0.106727      0.563611
999963     .jp 2020-08-22 22:40:00  ...      0.106727      0.563611
999964     すべて 2020-08-22 22:40:00  ...      0.106727      0.563611

[318930 rows x 19 columns]

In [157]:
df_word_score_train = create_word_score_df(df_word_return_train)

In [158]:
df_news_test = df_news[df_news['published_date'] > '2020-07-01']

In [159]:
df_news_test

                       published  ...  published_jst_5min
28712  2020-07-02 06:00:00+09:00  ... 2020-07-02 06:00:00
28717  2020-07-02 00:18:41+09:00  ... 2020-07-02 00:15:00
28718  2020-07-02 08:00:00+09:00  ... 2020-07-02 08:00:00
28726  2020-07-02 08:29:00+09:00  ... 2020-07-02 08:25:00
28728  2020-07-02 05:55:24+09:00  ... 2020-07-02 05:55:00
...                          ...  ...                 ...
42119  2020-08-22 10:33:22+09:00  ... 2020-08-22 10:30:00
42120  2020-08-22 10:33:22+09:00  ... 2020-08-22 10:30:00
42121  2020-08-22 12:10:00+09:00  ... 2020-08-22 12:10:00
42122  2020-08-22 12:10:00+09:00  ... 2020-08-22 12:10:00
42123  2020-08-22 17:00:00+09:00  ... 2020-08-22 17:00:00

[13202 rows x 8 columns]

In [164]:
scores = {}

for summary in pb(df_news_test['summary']):
    df_score = evaluate_sentence_score(summary, df_word_score_train)
    for hour, score in zip(df_score['lag_hour'], df_score['score']):
        if hour not in scores:
            scores[hour] = []
        scores[hour].append(score)

division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero
division by zero
float division by zero
float division by zero

In [165]:
for key, score in scores.items():
    df_news_test[f'score_{key}'] = score

In [166]:
df_news_test

                       published  ... score_2160
28712  2020-07-02 06:00:00+09:00  ...   0.273662
28717  2020-07-02 00:18:41+09:00  ...   0.292336
28718  2020-07-02 08:00:00+09:00  ...   0.280466
28726  2020-07-02 08:29:00+09:00  ...   0.308840
28728  2020-07-02 05:55:24+09:00  ...   0.294038
...                          ...  ...        ...
42119  2020-08-22 10:33:22+09:00  ...   0.297469
42120  2020-08-22 10:33:22+09:00  ...   0.293346
42121  2020-08-22 12:10:00+09:00  ...   0.392231
42122  2020-08-22 12:10:00+09:00  ...   0.302670
42123  2020-08-22 17:00:00+09:00  ...   0.285783

[13202 rows x 21 columns]

In [167]:
df_news_test.set_index('published_jst', inplace=True)

In [169]:
df_pred_score = pd.merge(
    df_news_test.resample('5T').mean(),
    df_btc_return,
    how='inner',
    left_index=True, right_index=True
)

In [170]:
df_pred_score

                      score_1   score_3  ...  return_1440h  return_2160h
2020-07-02 00:00:00 -0.000099  0.000301  ...      0.244702      0.153351
2020-07-02 00:05:00       NaN       NaN  ...      0.243844      0.152855
2020-07-02 00:10:00       NaN       NaN  ...      0.243831      0.152901
2020-07-02 00:15:00 -0.000834 -0.000583  ...      0.242316      0.152243
2020-07-02 00:20:00       NaN       NaN  ...      0.241321      0.150908
...                       ...       ...  ...           ...           ...
2020-08-23 02:50:00       NaN       NaN  ...      0.087851      0.589147
2020-08-23 02:55:00       NaN       NaN  ...      0.088326      0.586407
2020-08-23 03:00:00       NaN       NaN  ...      0.089466      0.582680
2020-08-23 03:05:00       NaN       NaN  ...      0.088188      0.585003
2020-08-23 03:10:00 -0.000635  0.000008  ...      0.087165      0.587324

[15015 rows x 30 columns]

In [171]:
df_pred_score.dropna()

                      score_1   score_3  ...  return_1440h  return_2160h
2020-07-02 00:00:00 -0.000099  0.000301  ...      0.244702      0.153351
2020-07-02 00:15:00 -0.000834 -0.000583  ...      0.242316      0.152243
2020-07-02 00:25:00  0.000446  0.001737  ...      0.240821      0.150246
2020-07-02 00:30:00  0.000798  0.002404  ...      0.244008      0.152637
2020-07-02 00:55:00 -0.000499 -0.001706  ...      0.243803      0.152932
...                       ...       ...  ...           ...           ...
2020-08-23 00:00:00  0.000661  0.006429  ...      0.086853      0.567617
2020-08-23 00:45:00 -0.000046  0.000631  ...      0.092777      0.581139
2020-08-23 02:05:00  0.000783  0.000797  ...      0.089577      0.590219
2020-08-23 02:35:00 -0.000699 -0.001423  ...      0.083129      0.591123
2020-08-23 03:10:00 -0.000635  0.000008  ...      0.087165      0.587324

[7200 rows x 30 columns]

In [172]:
(df_pred_score.dropna()['score_24'] * df_pred_score.dropna()['return_24h'] > 0).sum() / len(df_pred_score.dropna())

0.52875

In [173]:
(df_pred_score.dropna()['score_12'] * df_pred_score.dropna()['return_12h'] > 0).sum() / len(df_pred_score.dropna())

0.4926388888888889

In [174]:
df_score['lag_hour']

0        1
1        3
2        6
3       12
4       18
5       24
6       48
7       72
8      120
9      168
10     720
11    1440
12    2160
Name: lag_hour, dtype: int64

In [176]:
for lag_hour in df_score['lag_hour']:
    acc = (df_pred_score.dropna()[f'score_{lag_hour}'] * df_pred_score.dropna()[f'return_{lag_hour}h'] > 0).sum() / len(df_pred_score.dropna())
    print(f'{lag_hour}h lag : {acc}')

1h lag : 0.5186111111111111
3h lag : 0.50125
6h lag : 0.50375
12h lag : 0.4926388888888889
18h lag : 0.51
24h lag : 0.52875
48h lag : 0.5459722222222222
72h lag : 0.5613888888888889
120h lag : 0.59875
168h lag : 0.6265277777777778
720h lag : 0.6316666666666667
1440h lag : 0.5318055555555555
2160h lag : 0.9998611111111111